---
title: Schedule
layout: schedule
permalink: /schedule
---
<section>
    <h1>Event Schedule</h1>
    <h2>Event Format</h2>
    <div class="schedule-intro">
        <p>
            Our goal is to make this event as concretely useful to open source founders as possible. The event format: a single track talks followed by workshops,
            both in the morning and afternoon. Join us in the evenings for networking and discussions over a drink.
        </p>
    </div>
</section>
<h2>Event Schedule - The day before</h2>
<div class="day-schedule">
    <h3>Sunday 17<sup>th</sup> of May 2026</h3>
    <div class="session">
        <div class="session-timing">19:00 - 21:00</div>
        <div class="session-description">
            <h4 class="session-title">Welcome drinks</h4>
            <p>Join us for apéro (light snacks, drinks and pizzas) at the Rotonde Terrace / Greenhouse.</p>
        </div>
        <div class="avatar"><img src="../assets/img/participants/you.png" alt="You!"></div>
    </div>
</div>
{% include 2026/day1.html %}
{% include 2026/day2.html %}
