---
title: Welcome!
layout: home
permalink: /
---
<div class="container clearfix">
    <section class="intro">
        <h1>The conference about building financially successful and sustainable open source companies.</h1>
        <h3>Do you ever feel like the entire startup ecosystem just doesn’t get your open source company?
        </h3>
        <p>Proprietary software founders don’t have to worry about how to build an open source project that’s
            good enough to be valuable to users — but not so good that it’s impossible to monetize.
            They don’t have to balance community and customers.
        </p>
        <p>If you’re building an open source company, those are among your core strategic challenges.
            OSFS is a no-bullshit place where founders of open source companies can learn from and collaborate
            with each other to build more successful individual businesses and a stronger ecosystem of open source
            companies.</p>
        <p><a href="/about">About</a></p>
    </section>
    <section class="growth">
        <h2>How will <a href="https://www.linkedin.com/company/open-source-founders-summit">#05F525</a> help your business grow?</h2>
        <h3>Get feedback, be inspired, meet your peers, and get unstuck.</h3>
        <p><strong>Benchmark your performance:</strong> See how your company’s stats measure up, which metrics to pay attention to, and how to make those metrics move in the right direction. </p>
        <p><strong>Gain new skills:</strong> Get concrete strategies and tactics to try out in your business.</p>
        <p><strong>Form lasting connections:</strong> Build relationships with industry leaders and peers.</p>
        <p><strong>Get unstuck:</strong> Workshop your specific challenges; get inspired by others’ approaches to similar challenges.</p>
        <p><a href="{{ "/schedule" | absolute_url }}">Browse the Schedule</a></p>
    </section>
</div>
<div class="container clearfix">
    <section class="participants">
        <h2>Who is participating?</h2>
        <h3>The event is for founders of open source companies, big or small.</h3>
        <ul class="avatars clearfix">
            {% include snippets/participant-avatar-link.html participant="frank-karlitschek" %}
            {% include snippets/participant-avatar-link.html participant="amandine-le-pape" %}
            {% include snippets/participant-avatar-link.html participant="pierre-burgy" %}
            {% include snippets/participant-avatar-link.html participant="adam-jacob" %}
            {% include snippets/participant-avatar-link.html participant="ann-schlemmer" %}
            {% include snippets/participant-avatar-link.html participant="john-o-nolan" %}
            {% include snippets/participant-avatar-link.html participant="jonathan-ellis" %}
        </ul>
        <p>
            Some of the speakers include:
            <a href="{{"/participants/frank-karlitschek" | absolute_url }}">Frank Karlitschek</a> (NextCloud),
            <a href="{{"/participants/amandine-le-pape" | absolute_url }}">Amandine le Pape </a> (Element),
            <a href="{{"/participants/pierre-burgy" | absolute_url }}">Pierre Burgy</a> (Strapi),
            <a href="{{"/participants/adam-jacob" | absolute_url }}">Adam Jacob</a> (System Initiative),
            <a href="{{"/participants/ann-schlemmer" | absolute_url }}">Ann Schlemmer</a> (Percona),
            <a href="{{"/participants/john-o-nolan" | absolute_url }}">John O'Nolan</a> (Ghost),
            <a href="{{"/participants/johnatan-ellis" | absolute_url }}">Johnatan Ellis</a> (Datastax),
        </p><p>
        Expect conversations and workshops with leaders from open source organizations
        such as Suse, Kiwi TCMS, Matomo, Open Social, Eclipse Foundation, Mailvelope, Passbolt, Gatling, Pretix,
        Xwiki, Packagist, Dolicloud, Rudder, FerretDB, YottaDB, Scarf & <a href="/participants">more</a>...
    </p>
        <a class="cta" href="{{ "/request-invite" | absolute_url }}">Request an invite</a> &nbsp;
        <a class="" href="{{ "/participants" | absolute_url }}">Who is coming?</a>
    </section>
    <section class="where">
        <h2>Where?</h2>
        <h3>La Rotonde Stalingrad, Paris</h3>
        <p>6,8 place de la bataille de Stalingrad, 75019 Paris, France. Next to Bassin de la Villette, in the heart of Paris.</p>
        <div class="images">
            <div class="decorator-scribble"></div>
            <div class="decorator-frame"></div>
            <img src="{{ "/assets/img/photo/rotonde2.png" | absolute_url }}" alt="photo of the rotonde atrium" />
            <img src="{{ "/assets/img/photo/rotonde1.png" | absolute_url }}" alt="photo of the rotonde entry" />
        </div>
    </section>
</div>
