---
title: Schedule
layout: schedule
permalink: /schedule
---
<section>
<h1>Event Schedule</h1>
<h2>Event Format</h2>
<div class="schedule-intro">
    <p>
        This is a sample schedule to give you an idea of the event format — single track talks in the morning,
        breakout workshops in the afternoon. Join us in the evenings for networking and discussions over a drink.
    </p>
    <p>
        Our goal is to make this event as concretely useful to open source founders as possible. We’re counting on
        input from you to figure out what your top challenges are and how the open source founder summit
        can help you conquer them.
    </p>
    <p>
        <a href="/request-invite" class="cta">Request an Invite</a> &nbsp;
        <a href="mailto:contact@05F5.com">Contact Us</a>
    </p>
</div>
</section>
<h2>Event Schedule - The day before</h2>
<div class="day-schedule">
    <h3>Sunday 26<sup>th</sup> of May 2024</h3>
    <div class="session">
        <div class="session-timing">19:00 - 21:00</div>
        <div class="session-description">
            <h4 class="session-title">Welcome drinks</h4>
            <p>Join us for apéro (light snacks and drinks). Happy hour sponsored by Cisco.</p>
        </div>
        <div class="avatar"><img src="../assets/img/participants/you.png" alt="You!"></div>
    </div>
</div>
<h2>Event Schedule - Day 1</h2>
<div class="day-schedule">
    <h3>Monday 27<sup>th</sup> of May 2024</h3>
    <div class="session break">
        <div class="session-timing">09:00 - 09:25</div>
        <div class="session-description">
            <h4 class="session-title">Doors Open</h4>
            <p>Check-in, grab a coffee and a croissant, get ready for the day.</p>
        </div>

    </div>
    <div class="session">
        <div class="session-timing">09:25 - 09:30</div>
        <div class="session-description">
            <h4 class="session-title">Welcome to the Open Source Founders Summit</h4>
            <p>Short welcome talk.</p>
        </div>
        {% include snippets/participant-avatar-link.html participant="remy-bertot" %}
        {% include snippets/participant-avatar-link.html participant="emily-omier" %}
    </div>
    {% include snippets/session.html id=2701 %}
    {% include snippets/session.html id=2702 %}
    {% include snippets/session.html id=2703 %}
    <div class="session break">
        <div class="session-timing">10:45 - 11:15</div>
        <div class="session-description">
            <h4 class="session-title">Break</h4>
            <p>Grab a cup of coffee and mingle.</p>
        </div>
    </div>
    {% include snippets/session.html id=2704 %}
    {% include snippets/session.html id=2705 %}
    <div class="session">
        <div class="session-timing">12:15 - 12:45</div>
        <div class="session-description">
            <h4 class="session-title">Lightning Talks</h4>
            <p>A quick series of five-minute talks where attendees can share their tips and lessons learned.</p>
            <ul>
                {% include snippets/session-inline.html id=2706 %}
                {% include snippets/session-inline.html id=2707 %}
                {% include snippets/session-inline.html id=2708 %}
                {% include snippets/session-inline.html id=2709 %}
                {% include snippets/session-inline.html id=2710 %}
            </ul>
        </div>
        {% include snippets/session-avatar-inline.html id=2710 %}
        {% include snippets/session-avatar-inline.html id=2709 %}
        {% include snippets/session-avatar-inline.html id=2708 %}
        {% include snippets/session-avatar-inline.html id=2707 %}
        {% include snippets/session-avatar-inline.html id=2706 %}
    </div>
    <div class="session">
        <div class="session-timing">12:45 - 12:55</div>
        <div class="session-description">
            <h4 class="session-title">Morning wrap up, workshop prep</h4>
            <p>Prep for the afternoon workshops.</p>
        </div>
        {% include snippets/participant-avatar-link.html participant="remy-bertot" %}
        {% include snippets/participant-avatar-link.html participant="emily-omier" %}
    </div>
    <div class="session break">
        <div class="session-timing">12:55 - 14:00</div>
        <div class="session-description">
            <h4 class="session-title">Lunch break</h4>
            <p>Head to the kitchen and grab something to eat.</p>
        </div>
    </div>
    <div class="session">
        <div class="session-timing">14:00 - 14:45 </div>
        <div class="session-description">
            <h4 class="session-title">Breakout workshops, session 1</h4>
            <p>Breakout workshops of between 10 and 30 attendees, each group focused on a specific aspect of building open source businesses (product management, scaling engineering teams, marketing, sales, commercial models, etc) .
            </p>
            <ul>
                {% include snippets/session-inline.html id=2711 %}
                {% include snippets/session-inline.html id=2712 %}
                {% include snippets/session-inline.html id=2713 %}
            </ul>
        </div>
        <div class="avatar"><img src="../assets/img/participants/you.png" alt="You!"></div>
        {% include snippets/session-avatar-inline.html id=2713 %}
        {% include snippets/session-avatar-inline.html id=2712 %}
        {% include snippets/session-avatar-inline.html id=2711 %}
    </div>
    <div class="session">
        <div class="session-timing">14:50 - 15:35 </div>
        <div class="session-description">
            <h4 class="session-title">Breakout workshops, session 2</h4>
            <p>Breakout workshops of between 10 and 30 attendees, each group focused on a specific aspect of building open source businesses (product management, scaling engineering teams, marketing, sales, commercial models, etc) .
            </p>
            <ul>
                {% include snippets/session-inline.html id=2714 %}
                {% include snippets/session-inline.html id=2715 %}
                {% include snippets/session-inline.html id=2716 %}
            </ul>
        </div>
        <div class="avatar"><img src="../assets/img/participants/you.png" alt="You!"></div>
        {% include snippets/session-avatar-inline.html id=2716 %}
        {% include snippets/session-avatar-inline.html id=2715 %}
        {% include snippets/session-avatar-inline.html id=2714 %}
    </div>
    <div class="session break">
        <div class="session-timing">15:35 - 16:05 </div>
        <div class="session-description">
            <h4 class="session-title">Break</h4>
            <p>Grab a cup of coffee and mingle.</p>
        </div>
    </div>
    <div class="session">
        <div class="session-timing">16:05 - 16:50 </div>
        <div class="session-description">
            <h4 class="session-title">Breakout workshops, session 3</h4>
            <p>Breakout workshops of between 10 and 30 attendees, each group focused on a specific aspect of building open source businesses (product management, scaling engineering teams, marketing, sales, commercial models, etc) .
            </p>
            <ul>
                {% include snippets/session-inline.html id=2717 %}
                {% include snippets/session-inline.html id=2718 %}
                {% include snippets/session-inline.html id=2719 %}
            </ul>
        </div>
        <div class="avatar"><img src="../assets/img/participants/you.png" alt="You!"></div>
        {% include snippets/session-avatar-inline.html id=2719 %}
        {% include snippets/session-avatar-inline.html id=2718 %}
        {% include snippets/session-avatar-inline.html id=2717 %}
    </div>
    <div class="session">
        <div class="session-timing">17:00 - 17:10 </div>
        <div class="session-description">
            <h4 class="session-title">Day 1 wrap up</h4>
            <p>Reflecting on the first day of the summit. Information about the optional evening plans.</p>
        </div>
        {% include snippets/participant-avatar-link.html participant="remy-bertot" %}
        {% include snippets/participant-avatar-link.html participant="emily-omier" %}
    </div>
    <div class="session">
        <div class="session-timing">18:00 - 20:00 </div>
        <div class="session-description">
            <h4 class="session-title">Networking drinks</h4>
            <p>Continue the conversation over drinks. This happy hour is also sponsored by Cisco.</p>
        </div>
        <div class="avatar"><img src="../assets/img/participants/you.png" alt="You!"></div>
    </div>
    <div class="session">
        <div class="session-timing">20:00 - 22:00 </div>
        <div class="session-description">
            <h4 class="session-title">Dinner</h4>
            <p>For those who want and can, enjoy a laid-back atmosphere as we continue conversations over a meal.</p>
        </div>
        <div class="avatar"><img src="../assets/img/participants/you.png" alt="You!"></div>
    </div>
</div>

<h2>Event Schedule - Day 2</h2>
<div class="day-schedule">
    <h3>Tuesday 28<sup>th</sup> of May 2024</h3>
    <div class="session break">
        <div class="session-timing">09:00 - 09:30</div>
        <div class="session-description">
            <h4 class="session-title">Doors Open</h4>
            <p>Check-in, grab a coffee and a croissant, get ready for the day.</p>
        </div>
    </div>
    {% include snippets/session.html id=2801 %}
    {% include snippets/session.html id=2802 %}
    {% include snippets/session.html id=2803 %}
    <div class="session break">
        <div class="session-timing">10:45 - 11:15</div>
        <div class="session-description">
            <h4 class="session-title">Break</h4>
            <p>Grab a cup of coffee and mingle.</p>
        </div>
    </div>
    {% include snippets/session.html id=2804 %}
    {% include snippets/session.html id=2805 %}
    <div class="session">
        <div class="session-timing">12:15 - 12:45</div>
        <div class="session-description">
            <h4 class="session-title">Lightning Talks</h4>
            <p>A quick series of five-minute talks where attendees can share their ideas, questions, challenges and lessons learned.</p>
            <ul>
                {% include snippets/session-inline.html id=2806 %}
                {% include snippets/session-inline.html id=2807 %}
                {% include snippets/session-inline.html id=2808 %}
                {% include snippets/session-inline.html id=2809 %}
                {% include snippets/session-inline.html id=2810 %}
            </ul>
        </div>
        {% include snippets/session-avatar-inline.html id=2810 %}
        {% include snippets/session-avatar-inline.html id=2809 %}
        {% include snippets/session-avatar-inline.html id=2808 %}
        {% include snippets/session-avatar-inline.html id=2807 %}
        {% include snippets/session-avatar-inline.html id=2806 %}
    </div>
    <div class="session break">
        <div class="session-timing">12:45 - 14:00</div>
        <div class="session-description">
            <h4 class="session-title">Lunch break</h4>
            <p>Grab something to eat.</p>
        </div>
    </div>
    <div class="session">
        <div class="session-timing">14:00 - 14:45 </div>
        <div class="session-description">
            <h4 class="session-title">Breakout workshops, session 4 </h4>
            <p>Breakout workshops of between 10 and 30 attendees, each group focused on a specific aspect of building open source businesses (product management, scaling engineering teams, marketing, sales, commercial models, etc) .
            <ul>
                {% include snippets/session-inline.html id=2811 %}
                {% include snippets/session-inline.html id=2812 %}
                {% include snippets/session-inline.html id=2813 %}
            </ul>
        </div>
        <div class="avatar"><img src="../assets/img/participants/you.png" alt="You!"></div>
        {% include snippets/session-avatar-inline.html id=2813 %}
        {% include snippets/session-avatar-inline.html id=2812 %}
        {% include snippets/session-avatar-inline.html id=2811 %}
    </div>

    <div class="session">
        <div class="session-timing">14:50 - 15:35 </div>
        <div class="session-description">
            <h4 class="session-title">Breakout workshops, session 5  </h4>
            <p>Breakout workshops of between 10 and 30 attendees, each group focused on a specific aspect of building open source businesses (product management, scaling engineering teams, marketing, sales, commercial models, etc) .
            </p>
            <ul>
                {% include snippets/session-inline.html id=2814 %}
                {% include snippets/session-inline.html id=2815 %}
                {% include snippets/session-inline.html id=2816 %}
            </ul>
        </div>
        <div class="avatar"><img src="../assets/img/participants/you.png" alt="You!"></div>
        {% include snippets/session-avatar-inline.html id=2816 %}
        {% include snippets/session-avatar-inline.html id=2815 %}
        {% include snippets/session-avatar-inline.html id=2814 %}
    </div>
    <div class="session break">
        <div class="session-timing">15:35 - 16:05</div>
        <div class="session-description">
            <h4 class="session-title">Break</h4>
            <p>Grab a cup of tea and mingle.</p>
        </div>
    </div>
    <div class="session">
        <div class="session-timing">16:05 - 16:50 </div>
        <div class="session-description">
            <h4 class="session-title">Breakout workshops, session 6  </h4>
            <p>Breakout workshops of between 10 and 30 attendees, each group focused on a specific aspect of building open source businesses (product management, scaling engineering teams, marketing, sales, commercial models, etc) .
            </p>
            <ul>
                {% include snippets/session-inline.html id=2817 %}
            </ul>
        </div>
        <div class="avatar"><img src="../assets/img/participants/you.png" alt="You!"></div>
        {% include snippets/session-avatar-inline.html id=2817 %}
    </div>

    <div class="session">
        <div class="session-timing">17:00 - 17:15</div>
        <div class="session-description">
            <h4 class="session-title">Farewell #05F524!</h4>
            <p>Reflections on the first edition of Open Source Founders Summit and what to expect
                next.</p>
        </div>
        {% include snippets/participant-avatar-link.html participant="remy-bertot" %}
        {% include snippets/participant-avatar-link.html participant="emily-omier" %}
    </div>
    <div class="session">
        <div class="session-timing">17:45 - 20:00 </div>
        <div class="session-description">
            <h4 class="session-title">Networking drinks</h4>
            <p>Continue discussions from the event, forge new connections, or simply unwind. Sponsored, yes indeed, by Cisco.
            </p>
        </div>
        <div class="avatar"><img src="../assets/img/participants/you.png" alt="You!"></div>
    </div>
</div>
