---
title: Sponsorship Opportunities
layout: request-invite
permalink: /sponsor
---
<section>
    <h1>Sponsorship Opportunities</h1>
    <h2>Why sponsor?</h2>
    <p>
        The Open Source Founders Summit is the only event in the world that’s focused specifically on bringing
        together founders of open source companies of all kinds, whether they are VC-backed or not, or DevTools.
        It’s also  the only event that’s focused on giving founders practical tools to navigate the unique challenges
        and opportunities of open source companies.
    </p><p>
        Sponsoring the event is a unique opportunity to:
    </p>
    <ul>
        <li>Position your organization as a supporter of open source businesses.</li>
        <li>Get in front of open source founders — if you’re not an open source founder, the only way to attend is as a sponsor.</li>
        <li>Be involved in Open Source Founders Summit from the beginning.</li>
    </ul>
    <p>
        {% include common/cta.html url="/assets/files/sponsorship.pdf" name="Download sponsorship brochure" %} &nbsp;
        <a href="mailto:sponsor@05F5.com">Contact us</a>
    </p>
</section>
{% include snippets/ticket-types.html %}