<h2>Event Schedule - Day 2</h2>
<div class="day-schedule">
    <h3>Tuesday 21<sup>st</sup> of May 2025</h3>
    <div class="session break">
        <div class="session-timing">09:00 - 09:30</div>
        <div class="session-description">
            <h4 class="session-title">Doors Open</h4>
            <p>Check-in, grab a coffee and a croissant, get ready for the day.</p>
        </div>
    </div>
    <div class="session">
        <div class="session-timing">09:30 - 10:25</div>
        <div class="session-description">
            <h4 class="session-title">Talks</h4>
            <p>Two twenty minutes talks by open source business leaders. Metrics, strategies, tactics,
                lessons learned. Concrete action items from every talk.</p>
        </div>
        {% include snippets/participant-avatar-link.html participant="amandine-le-pape" %}
        {% include snippets/participant-avatar-link.html participant="john-o-nolan" %}
    </div>
    <div class="session break">
        <div class="session-timing">10:25 - 11:00</div>
        <div class="session-description">
            <h4 class="session-title">Break</h4>
            <p>Grab a cup of coffee and mingle.</p>
        </div>
    </div>
    <div class="session">
        <div class="session-timing">11:00 - 11:55 </div>
        <div class="session-description">
            <h4 class="session-title">Breakout workshops, session 4 (TBC)</h4>
            <p>Breakout workshops of between 10 and 15 attendees, each group focused on a specific aspect of building open source businesses (product management, scaling engineering teams, marketing, sales, commercial models, etc) .
            </p>
        </div>
        <div class="avatar"><img src="../../assets/img/participants/you.png" alt="You"></div>
        <div class="avatar"><img src="../../assets/img/participants/tbd.png" alt="To be announced"></div>
        {% include snippets/participant-avatar-link.html participant="nils-adermann" %}
        {% include snippets/participant-avatar-link.html participant="taco-potze" %}
    </div>
    <div class="session">
        <div class="session-timing">12:05 - 13:00 </div>
        <div class="session-description">
            <h4 class="session-title">Breakout workshops, session 5 (TBC)</h4>
            <p>Breakout workshops of between 10 and 15 attendees, each group focused on a specific aspect of building open source businesses (product management, scaling engineering teams, marketing, sales, commercial models, etc) .
            </p>
        </div>
        <div class="avatar"><img src="../../assets/img/participants/you.png" alt="You"></div>
        <div class="avatar"><img src="../../assets/img/participants/tbd.png" alt="To be announced"></div>
        {% include snippets/participant-avatar-link.html participant="k-s-bhaskar" %}
        {% include snippets/participant-avatar-link.html participant="amanda-brock" %}
    </div>
    <div class="session break">
        <div class="session-timing">13:00 - 14:00</div>
        <div class="session-description">
            <h4 class="session-title">Lunch break</h4>
            <p>Head to the kitchen and grab something to eat.</p>
        </div>
    </div>
    <div class="session">
        <div class="session-timing">14:00 - 14:20</div>
        <div class="session-description">
            <h4 class="session-title">Talk</h4>
            <p>One twenty minutes talks by open source business leaders. Metrics, strategies, tactics,
                lessons learned. Concrete action items from every talk.</p>
        </div>
        <div class="avatar"><img src="../../assets/img/participants/tbd.png" alt="To be announced"></div>
    </div>
    <div class="session">
        <div class="session-timing">14:30 - 15:00</div>
        <div class="session-description">
            <h4 class="session-title">Lightning Talks</h4>
            <p>A quick series of five-minute talks where attendees can share their tips and lessons learned.</p>
        </div>
        <div class="avatar"><img src="../../assets/img/participants/you.png" alt="You"></div>
        <div class="avatar"><img src="../../assets/img/participants/tbd.png" alt="To be announced"></div>
        <div class="avatar"><img src="../../assets/img/participants/tbd.png" alt="To be announced"></div>
        <div class="avatar"><img src="../../assets/img/participants/tbd.png" alt="To be announced"></div>
        <div class="avatar"><img src="../../assets/img/participants/tbd.png" alt="To be announced"></div>
    </div>
    <div class="session break">
        <div class="session-timing">15:00 - 15:30</div>
        <div class="session-description">
            <h4 class="session-title">Break</h4>
            <p>Grab a cup of coffee and mingle.</p>
        </div>
    </div>
    <div class="session">
        <div class="session-timing">15:30 - 16:30 </div>
        <div class="session-description">
            <h4 class="session-title">Breakout workshops, session 6 (TBC)</h4>
            <p>Breakout workshops of between 10 and 15 attendees, each group focused on a specific aspect of building open source businesses (product management, scaling engineering teams, marketing, sales, commercial models, etc) .
            </p>
        </div>
        <div class="avatar"><img src="../../assets/img/participants/you.png" alt="You"></div>
        <div class="avatar"><img src="../../assets/img/participants/tbd.png" alt="To be announced"></div>
        {% include snippets/participant-avatar-link.html participant="gael-blondelle" %}
        {% include snippets/participant-avatar-link.html participant="alya-abbott" %}
    </div>
    <div class="session">
        <div class="session-timing">16:30 - 17:00</div>
        <div class="session-description">
            <h4 class="session-title">Farewell #OFSF25!</h4>
            <p>Reflections on the first edition of Open Source Founders Summit and what to expect next.</p>
        </div>
        {% include snippets/participant-avatar-link.html participant="emily-omier" %}
        {% include snippets/participant-avatar-link.html participant="remy-bertot" %}
    </div>
    <div class="session">
        <div class="session-timing">18:00 - 20:00 </div>
        <div class="session-description">
            <h4 class="session-title">Networking drinks</h4>
            <p>Continue the conversation over drinks & finger food.</p>
        </div>
        <div class="avatar"><img src="../../assets/img/participants/you.png" alt="You!"></div>
    </div>
</div>