<div class="footprints">
    <div class="container clearfix">
        <section class="organizers">
            <h2>Organizers & Sponsors</h2>
            <ul class="logos">
                <li><a href="https://www.emilyomier.com/" class="eoc"><span class="visually-hidden">Emily Omier Consulting</span></a></li>
                <li><a href="https://www.passbolt.com/" class="passbolt"><span class="visually-hidden">Passbolt</span></a></li>
                <li><a class="cta sponsor" href="{{"/sponsor" | absolute_url }}">Become a sponsor</a></li>
            </ul>
        </section>
        <section class="newsletter">
            <form action="https://app.keila.io/forms/nfrm_QNVeG73w" class="contact-form" method="post" style="">
                <h2>Signup to the newsletter</h2>
                <div class="flex flex-col">
                    <label for="contact_email" class="visually-hidden">Email</label>
                    <input id="contact_email" name="contact[email]" type="email" placeholder="Email"/>
                </div>
                <button class="newsletter-submit">Submit</button>
                <div class="smallprints">We respect your <a href="{{ "/privacy" | absolute_url }}">privacy</a></div>
            </form>
        </section>
    </div>
</div>