<header>
    <div class="decorator-frame"></div>
    <section class="first-header">
        <nav class="clearfix">
            <a href="/" class="logo"><span class="visually-hidden">Home</span></a>
<!--            <a class="minicta" href="/request-invite">Get Tickets</a>-->
            <a href="/sponsor">Sponsor</a>
            <a href="/participants">Participants</a>
            <a href="/schedule">Schedule</a>
            <a href="/about">About</a>
        </nav>
    </section>
    <section class="second-header clearfix">
        <div class="second-header-container">
            <div class="what">Open Source Founders Summit 2025</div>
            <div class="when round">
                <span>May</span>
                <span>19-20</span>
            </div>
            <div class="where round">
                <span>Paris</span>
                <span>France</span>
            </div>
        </div>
    </section>
</header>
