<h2>Event Schedule - Day 1</h2>
<div class="day-schedule">
    <h3>Monday 18<sup>th</sup> of May 2026</h3>
    <div class="session break">
        <div class="session-timing">09:00 - 09:30</div>
        <div class="session-description">
            <h4 class="session-title">Doors Open</h4>
            <p>Check-in, grab a coffee and a croissant, get ready for the day.</p>
        </div>
    </div>
    <div class="session">
        <div class="session-timing">09:30 - 09:40</div>
        <div class="session-description">
            <h4 class="session-title">Welcome to the Open Source Founders Summit</h4>
            <p>A short welcome talk.</p>
        </div>
        {% include snippets/participant-avatar-link.html participant="remy-bertot" %}
        {% include snippets/participant-avatar-link.html participant="emily-omier" %}
    </div>
    {% include snippets/session.html id=26002 %}
    <div class="session">
        <div class="session-timing">10:05 - 11:05 </div>
        <div class="session-description">
            <h4 class="session-title">Breakout workshops, session 1</h4>
            <p>Breakout workshops of between 10 and 15 attendees, each group focused on a specific aspect of building open source businesses (product management, scaling engineering teams, marketing, sales, commercial models, etc).
            </p>
            <ul>
                {% include snippets/session-inline.html id=26003 %}
                {% include snippets/session-inline.html id=26004 %}
                {% include snippets/session-inline.html id=26005 %}
                {% include snippets/session-inline.html id=26006 %}
            </ul>
        </div>
        <div class="avatar"><img src="../../assets/img/participants/you.png" alt="You"></div>
        {% include snippets/session-avatar-inline.html id=26006 %}
        {% include snippets/session-avatar-inline.html id=26005 %}
        {% include snippets/session-avatar-inline.html id=26004 %}
        {% include snippets/session-avatar-inline.html id=26003 %}
    </div>
    <div class="session break">
        <div class="session-timing">11:05 - 11:10</div>
        <div class="session-description">
            <h4 class="session-title">Break</h4>
            <p>Grab a cup of coffee and mingle.</p>
        </div>
    </div>
    {% include snippets/session.html id=26008 %}
    <div class="session">
        <div class="session-timing">12:00 - 13:00 </div>
        <div class="session-description">
            <h4 class="session-title">Breakout workshops, session 2</h4>
            <p>Breakout workshops of between 10 and 15 attendees, each group focused on a specific aspect of building open source businesses (product management, scaling engineering teams, marketing, sales, commercial models, etc).
            </p>
            <ul>
                {% include snippets/session-inline.html id=26009 %}
                {% include snippets/session-inline.html id=26010 %}
                {% include snippets/session-inline.html id=26011 %}
                {% include snippets/session-inline.html id=26012 %}
            </ul>
        </div>
        <div class="avatar"><img src="../../assets/img/participants/you.png" alt="You"></div>
        {% include snippets/session-avatar-inline.html id=26012 %}
        {% include snippets/session-avatar-inline.html id=26011 %}
        {% include snippets/session-avatar-inline.html id=26010 %}
        {% include snippets/session-avatar-inline.html id=26009 %}
    </div>
    <div class="session break">
        <div class="session-timing">13:00 - 14:00</div>
        <div class="session-description">
            <h4 class="session-title">Lunch break</h4>
            <p>Head to the kitchen and grab something to eat.</p>
        </div>
    </div>
    {% include snippets/session.html id=26013 %}
    <div class="session">
        <div class="session-timing">14:25 - 15:25 </div>
        <div class="session-description">
            <h4 class="session-title">Breakout workshops, session 3</h4>
            <p>Breakout workshops of between 10 and 15 attendees, each group focused on a specific aspect of building open source businesses (product management, scaling engineering teams, marketing, sales, commercial models, etc).
            </p>
            <ul>
                {% include snippets/session-inline.html id=26014 %}
                {% include snippets/session-inline.html id=26015 %}
                {% include snippets/session-inline.html id=26016 %}
                <li>Unconference, an open workshop track, made for and by you.</li>
            </ul>
        </div>
        <div class="avatar"><img src="../../assets/img/participants/you.png" alt="You"></div>
        {% include snippets/session-avatar-inline.html id=26016 %}
        {% include snippets/session-avatar-inline.html id=26015 %}
        {% include snippets/session-avatar-inline.html id=26014 %}
    </div>
    <div class="session break">
        <div class="session-timing">15:25 - 16:00</div>
        <div class="session-description">
            <h4 class="session-title">Break</h4>
            <p>Grab a cup of coffee and mingle.</p>
        </div>
    </div>
    <div class="session">
        <div class="session-timing">16:00 - 16:30</div>
        <div class="session-description">
            <h4 class="session-title">Lightning Talks</h4>
            <p>A quick series of five-minute talks where attendees can share their tips and lessons learned.</p>
            <ul>
                {% include snippets/session-inline.html id=26017 %}
                {% include snippets/session-inline.html id=26018 %}
                {% include snippets/session-inline.html id=26019 %}
                {% include snippets/session-inline.html id=26020 %}
            </ul>
        </div>
        {% include snippets/session-avatar-inline.html id=26020 %}
        {% include snippets/session-avatar-inline.html id=26019 %}
        {% include snippets/session-avatar-inline.html id=26018 %}
        {% include snippets/session-avatar-inline.html id=26017 %}
    </div>
    <div class="session">
        <div class="session-timing">16:35 - 17:00 </div>
        <div class="session-description">
            <h4 class="session-title">Day 1 wrap up</h4>
            <p>Reflecting on the first day of the summit. Information about the optional evening plans.</p>
        </div>
        {% include snippets/participant-avatar-link.html participant="remy-bertot" %}
        {% include snippets/participant-avatar-link.html participant="emily-omier" %}
    </div>
    <div class="session">
        <div class="session-timing">19:00 - 20:00 </div>
        <div class="session-description">
            <h4 class="session-title">Networking drinks</h4>
            <p>Continue the conversation over drinks. The venue: <a href="https://lesrupins.fr/">Les Rupins Restaurant</a>.
                35 Bd de Magenta, 75010 Paris.</p>
        </div>
        <div class="avatar"><img src="../../assets/img/participants/you.png" alt="You!"></div>
    </div>
    <div class="session">
        <div class="session-timing">20:00 - 22:30 </div>
        <div class="session-description">
            <h4 class="session-title">Dinner</h4>
            <p>For those who want and can, enjoy a laid-back atmosphere as we continue conversations over a meal.
                The venue: <a href="https://lesrupins.fr/">Les Rupins Restaurant</a>.
                35 Bd de Magenta, 75010 Paris.
            </p>
        </div>
        <div class="avatar"><img src="../../assets/img/participants/you.png" alt="You!"></div>
    </div>
</div>
