<h2>Event Schedule - Day 2</h2>
<div class="day-schedule">
    <h3>Tuesday 19<sup>th</sup> of May 2026</h3>
    <div class="session break">
        <div class="session-timing">09:00 - 09:30</div>
        <div class="session-description">
            <h4 class="session-title">Doors Open</h4>
            <p>Check-in, grab a coffee and a croissant, get ready for the day.</p>
        </div>
    </div>
    {% include snippets/session.html id=26102 %}
    <div class="session">
        <div class="session-timing">10:05 - 11:05 </div>
        <div class="session-description">
            <h4 class="session-title">Breakout workshops, session 4</h4>
            <p>Breakout workshops of between 10 and 15 attendees, each group focused on a specific aspect of building open source businesses (product management, scaling engineering teams, marketing, sales, commercial models, etc).
            </p>
            <ul>
                {% include snippets/session-inline.html id=26104 %}
                {% include snippets/session-inline.html id=26105 %}
                {% include snippets/session-inline.html id=26106 %}
            </ul>
        </div>
        <div class="avatar"><img src="../../assets/img/participants/you.png" alt="You"></div>
        {% include snippets/session-avatar-inline.html id=26106 %}
        {% include snippets/session-avatar-inline.html id=26105 %}
        {% include snippets/session-avatar-inline.html id=26104 %}
    </div>
    <div class="session break">
        <div class="session-timing">11:05 - 11:10</div>
        <div class="session-description">
            <h4 class="session-title">Break</h4>
            <p>Grab a cup of coffee and mingle.</p>
        </div>
    </div>
    {% include snippets/session.html id=26108 %}
    <div class="session">
        <div class="session-timing">12:00 - 13:00 </div>
        <div class="session-description">
            <h4 class="session-title">Breakout workshops, session 5</h4>
            <p>Breakout workshops of between 10 and 15 attendees, each group focused on a specific aspect of building open source businesses (product management, scaling engineering teams, marketing, sales, commercial models, etc).
            </p>
            <ul>
                {% include snippets/session-inline.html id=26109 %}
                {% include snippets/session-inline.html id=26110 %}
            </ul>
        </div>
        <div class="avatar"><img src="../../assets/img/participants/you.png" alt="You"></div>
        {% include snippets/session-avatar-inline.html id=26110 %}
        {% include snippets/session-avatar-inline.html id=26109 %}
    </div>
    <div class="session break">
        <div class="session-timing">13:00 - 14:00</div>
        <div class="session-description">
            <h4 class="session-title">Lunch break</h4>
            <p>Head to the kitchen and grab something to eat.</p>
        </div>
    </div>
    {% include snippets/session.html id=26112 %}
    <div class="session">
        <div class="session-timing">14:25 - 15:25 </div>
        <div class="session-description">
            <h4 class="session-title">Breakout workshops, session 6</h4>
            <p>Breakout workshops of between 10 and 15 attendees, each group focused on a specific aspect of building open source businesses (product management, scaling engineering teams, marketing, sales, commercial models, etc).
            </p>
            <ul>
                {% include snippets/session-inline.html id=26113 %}
                {% include snippets/session-inline.html id=26114 %}
            </ul>
        </div>
        <div class="avatar"><img src="../../assets/img/participants/you.png" alt="You"></div>
        {% include snippets/session-avatar-inline.html id=26114 %}
        {% include snippets/session-avatar-inline.html id=26113 %}
    </div>
    <div class="session break">
        <div class="session-timing">15:25 - 16:00</div>
        <div class="session-description">
            <h4 class="session-title">Break</h4>
            <p>Grab a cup of coffee and mingle.</p>
        </div>
    </div>
    <div class="session">
        <div class="session-timing">16:00 - 16:30</div>
        <div class="session-description">
            <h4 class="session-title">Lightning Talks</h4>
            <p>A quick series of five-minute talks where attendees can share their tips and lessons learned.</p>
            <ul>
                {% include snippets/session-inline.html id=26115 %}
                {% include snippets/session-inline.html id=26116 %}
                {% include snippets/session-inline.html id=26117 %}
                {% include snippets/session-inline.html id=26118 %}
                {% include snippets/session-inline.html id=26119 %}
            </ul>
        </div>
        {% include snippets/session-avatar-inline.html id=26119 %}
        {% include snippets/session-avatar-inline.html id=26118 %}
        {% include snippets/session-avatar-inline.html id=26117 %}
        {% include snippets/session-avatar-inline.html id=26116 %}
        {% include snippets/session-avatar-inline.html id=26115 %}
    </div>
    <div class="session">
        <div class="session-timing">16:30 - 17:00</div>
        <div class="session-description">
            <h4 class="session-title">Farewell #OSFS26!</h4>
            <p>Reflections on the summit and what to expect next.</p>
        </div>
        {% include snippets/participant-avatar-link.html participant="emily-omier" %}
        {% include snippets/participant-avatar-link.html participant="remy-bertot" %}
    </div>
</div>
