/* Variables */
:root {
    --color-bg-default: white;
    --color-text-default: black;

    --color-almost-black: #060606;
    --color-deep-purple: #666CF7;
    --color-news-orange: #FFEBD4;

    color: var(--color-text-default);
    background: var(--color-bg-default);
}

/* helpers */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* typography */
@font-face {
    font-family: Inter;
    src: url(../fonts/Inter/Inter-VariableFont_slnt,wght.ttf);
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
}
html body {
    font-size: 1.6rem;
    font-family: Inter, Helvetica, Arial, sans-serif;
}

/* Minimal reset */
*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}


h1 {
    font-weight: bolder;
    font-size: 4rem;
    padding-bottom:2rem;
}
h2 {
    font-weight: bold;
    font-size: 2.8rem;
    padding-bottom:2.2rem;
}
h2:before {
    content: "—";
    color: var(--color-deep-purple);
    margin-right: 1rem;
    font-weight: bolder;
}
h3 {
    font-size: 1.8rem;
    padding-bottom:2.2rem;
    font-weight: bold;
}
p {
    font-size: 1.6rem;
    padding-bottom:1.4rem;
}

/* links */
a {
    color: var(--color-deep-purple);
}
a.cta {
    background: black;
    color: white;
    min-width: 12rem;
    text-align: center;
    font-size:1.8rem;
    font-weight: 500;
    text-decoration: none;
    border-radius: 3.2rem;
    padding:1rem 2rem;
    display:inline-block;
}
main a.cta {
    margin: 2rem 0;
}
a.cta.disabled {
    background:#CCC;
}


/* header */
header {
    width:100%;
}
header .first-header {
    background: var(--color-almost-black);
    width: 100%;
    min-height:6rem;
}
nav {
    max-width: 115rem;
    margin:auto;
    text-align: center;
    padding:1.6rem;
}
nav a {
    color: white;
    text-decoration: none;
    float:right;
    margin-right:3rem;
    padding:.4rem 1rem;
}
nav a:hover {
     color: white;
     text-decoration: underline;
}
header a.minicta {
    padding:.4rem 1rem;
    color:white;
    background: var(--color-deep-purple);
    border-radius: 30rem;
}
header a.minicta:hover {
    text-decoration: none;
    background:white;
    color: black;
}
nav a.logo {
    float:left;
    width: 3rem;
    height: 3rem;
    background: no-repeat center/75% url("../img/logo/logo_s_white.svg");
    margin-top:-.2rem;
    margin-left: -.5rem;
}
.round {
    background: var(--color-almost-black);
    color: white;
    width:6.8rem;
    height:6.8rem;
    border-radius: 50%;
}
.round span {
    padding-top:1.7rem;
    display:block;
    width:6.8rem;
    font-size:1.5rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
.round span + span {
    padding-top:0;
    font-size: 1.2rem;
    text-transform: initial;
    font-weight: normal;
}
.second-header {
    background: var(--color-deep-purple);
}
.second-header-container .what {
    float:left;
    color: white;
    text-transform: uppercase;
    max-width: 17rem;
    margin: 4rem 2rem;
}
.second-header-container .when,
.second-header-container .where {
    float:right;
    margin: 4rem 2rem;
}

@media only screen and (min-width: 80rem) {
    header .decorator-frame {
        width: calc(100% - 20rem);
        position: absolute;
        top: 0;
        z-index: -9999;
        height: 22.6rem;
        background: #666CF7;
    }

    .second-header {
        background: transparent url("../img/photo/background_photo.png") top no-repeat;
        background-size: 100rem;
        padding-bottom: 7.5rem;
    }

    .second-header-container {
        z-index: 2;
        max-width: 115rem;
        min-height: 16.4rem;
        margin: auto;
        background: transparent url("../img/scribbles/clipped_scribble_top.svg") 0 0/cover no-repeat;
        background-size: 110rem;
    }
    .second-header-container .what {
        margin:5rem 0 0 1.6rem;
    }
    .second-header-container .when {
        margin-right: 25rem;
    }
    main .container:first-child {
        padding-top: 5rem;
        background: transparent url("../img/scribbles/scribble_top.svg") 0 0/cover no-repeat;
        background-size: 86rem;
        background-position-y: -35rem;
        background-position-x: 21rem;
        max-width: 115rem;
        min-height: 14.3rem;
    }
}

/* main sections */
main {
    width:100%;
}
main .container {
    max-width: 115rem;
    padding: 1.8rem;
    margin: auto;
    margin-bottom:5rem;
}
main article {
    margin-bottom: 7rem;
}
main article section {
    max-width: 80rem;
}
main article ul {
    list-style: initial;
    margin-left:2rem;
    padding-bottom:1.6rem;
}
main article ul li {
    padding-bottom:1rem;
}
main article img {
    padding-bottom:1.6rem;
}

main article p + h2,
main article p + h3 {
    margin-top:2rem;
}
main blockquote {
    padding:2rem 0;
    margin:0;
    font-size: 1.6rem;
    font-weight: bold;
}
/* newsletters */
.newsletter input[type=email] {
    width:70%;
    max-width: 38rem;
    font-size:2rem;
    padding: 1rem 1rem 1rem 2rem;
    border-radius: 20rem 0 0 20rem ;
    border: 1px solid #CCC;
    float:left;
}
.newsletter button {
    width:30%;
    min-width: 8rem;
    font-size:2rem;
    padding: 1rem;
    float:left;
    background:#000;
    color:#FFF;
    border-radius: 0 20rem 20rem 0;
    border: 1px solid #000;
    text-align: center;
}
.newsletter .smallprints {
    clear:left;
    padding:1rem 0 0 1rem;
}
/* footers */
.footprints {
    background: var(--color-news-orange);
    margin-top:2rem;
    padding-bottom:1rem;
    border-bottom:.8rem solid var(--color-deep-purple)
}


/** sponsors */
.footprints .container:first-child {
    margin-bottom: 0;
}
.footprints a.logo {
    margin-bottom: 1.5rem;
    width: 22rem;
    height: 7rem;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right:2rem;
    float:left;
}
.footprints a.eoc {
    background-image: url("../img/sponsors/eoc.png");
    background-size: 75%;
}
.footprints a.ef {
    background-image: url("../img/sponsors/ef.png");
    background-size: 60%;
}
.footprints a.passbolt {
    background-image: url("../img/sponsors/passbolt.png");
    background-size: 75%;
}
.footprints a.tr {
    width: 10rem;
    background-image: url("../img/sponsors/tr.png");
    background-size: 100%;
}
.footprints a.moonlight-marketing {
    background-image: url("../img/sponsors/mlm.svg");
    background-size: 56%;
}
.footprints a.daytona {
    background-image: url("../img/sponsors/daytona.svg");
    background-size: 70%;
}
.footprints a.cisco {
    background-image: url("../img/sponsors/cisco.svg");
    background-size: 60%;
}
.footprints a.pearlside {
    background-image: url("../img/sponsors/pearlside.png");
    background-size: 80%;
}
.footprints a.osi {
    width: 10rem;
    background-image: url("../img/sponsors/osi.svg");
    background-size: 50%;
}
.footprints a.cta {
}

.footprints .social {
    margin-bottom: 1rem;
    width: 5rem;
    height: 5rem;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right:1rem;
    float:left;
    border: 2px solid var(--color-deep-purple);
    border-radius: 5rem;
}
.footprints .socials .icon-linkedin {
    background-image: url("../img/icons/linkedin.svg");
    background-size: 56%;
}
.footprints .socials .icon-github {
    background-image: url("../img/icons/github.svg");
    background-size: 56%;
}
.footprints .socials .icon-email {
    background-image: url("../img/icons/mail.svg");
    background-size: 56%;
}
.footprints .socials .icon-twitter {
    background-image: url("../img/icons/twitter.svg");
    background-size: 56%;
}
.footprints .socials .icon-mastodon {
    background-image: url("../img/icons/mastodon.svg");
    background-size: 56%;
}
.footprints ul + h2 {
    margin-top:2rem;
}
@media only screen and (min-width: 80rem) {
    main .footprints section {
        float: left;
        width: 50rem;
        margin-right: 5rem;
    }
}
footer {
    background: var(--color-almost-black);
}
footer nav a.logo {
    float:left;
    width: 30rem;
    height: 4.5rem;
    background: no-repeat center/60% url("../img/logo/logo_white.svg");
    margin-left:-5rem;
    margin-bottom: 1rem;
    margin-top:-.5rem;
}

/* Icons */
.icon {
    background: transparent url("../img/icons/link.svg") 0 center no-repeat;
    background-size: 1.5rem;
    padding-left:2.5rem;
}
.icon.icon-linkedin{
    background: transparent url("../img/icons/linkedin.svg") 0 center no-repeat;
    background-size: 1.5rem;
    padding-left:2.5rem;
}
.icon.icon-twitter{
    background: transparent url("../img/icons/twitter.svg") 0 center no-repeat;
    background-size: 1.5rem;
    padding-left:2.5rem;
}

/* people badges */
.people-badge h2:before {
    display:none;
}
.people-badge .people-picture {
    float:left;
}
.people-badge .people-picture img {
    padding-bottom: 0;
    width:120px;
}
.people-badge .people-info {
    float:left;
    padding-left:2rem;
}
.people-badge h2 {
    padding-bottom:1rem;
    margin-top:1.5rem;
}
.people-badge h3 {
    padding-bottom:.5rem;
}
.people-badge h4 a{
    text-transform: uppercase;
    font-weight: bold;
}


/* tickets snippet */
.tickets .tickets-body,
.tickets .tickets-header {
    display:flex;
    flex-wrap: wrap;
}
.tickets .ticket-wrap {
    flex-grow: 1;
    flex-basis: 0;
}
.tickets .ticket {
    background: #F4F4F4;
    margin:0 2rem 0 0;
    padding:2rem;
}
.tickets .tickets-header .ticket {
    border-radius: 3rem 0 0 0;
    border-bottom:4px dotted #FFF;
    clip-path: polygon(0% 0%, 100% 0%, calc(100% + 0em) calc(50% - 2em), calc(100% - 0.39em) calc(50% - 1.962em), calc(100% - 0.766em) calc(50% - 1.848em), calc(100% - 1.112em) calc(50% - 1.662em), calc(100% - 1.414em) calc(50% - 1.414em), calc(100% - 1.662em) calc(50% - 1.112em), calc(100% - 1.848em) calc(50% - 0.766em), calc(100% - 1.962em) calc(50% - 0.39em), calc(100% - 2em) calc(50% + 0em), calc(100% - 1.962em) calc(50% + 0.39em), calc(100% - 1.848em) calc(50% + 0.766em), calc(100% - 1.662em) calc(50% + 1.112em), calc(100% - 1.414em) calc(50% + 1.414em), calc(100% - 1.112em) calc(50% + 1.662em), calc(100% - 0.766em) calc(50% + 1.848em), calc(100% - 0.39em) calc(50% + 1.962em), calc(100% + 0em) calc(50% + 2em), 100% 100%, 0% 100%);
}
.tickets .ticket-type {
    color:#777;
    text-transform: uppercase;
    font-size: 1.2rem;
}
.tickets .ticket-title {
    font-size: 2.2rem;
    font-weight: bolder;
    padding:.8rem 0;
}
.tickets .ticket .cta{
    display:block;
}
.tickets .ticket-price sup {
    font-size: 1.6rem;
}
.tickets .ticket-price {
    font-size: 4rem;
    padding:.5rem 0;
}
.tickets .ticket-numbers {
    color:#777;
}
.tickets .ticket-numbers.prompt {
    color:#666CF7;
}
.tickets .tickets-body .ticket-content {
    text-align: center;
}

.tickets .tickets-body:nth-child(odd) .ticket {
    background:#EEE;
}


@media only screen and (max-width: 80rem) {
    .tickets .ticket-wrap.empty {
        display:none;
    }
    .tickets .tickets-body {
        display:none;
    }
}