
.people .schedule .session .session-timing {
    width: 25%;
}
.people .schedule .session .session-description {
    max-width: 70%;
}
.people .people-schedule {
    margin-top: 2rem;
}
.people  .schedule h3 + .session {
    border-top: 0.3rem solid #000;
}
.people  .schedule .session  {
    padding-top:2rem;
    border-bottom: 0.1rem solid #000;
}

@media only screen and (min-width: 80rem) {
    .people .people-profile {
        float:left;
        max-width: 50%;
    }
    .people main section {
        float: left;
        width: 50rem;
        margin-right: 5rem;
    }
    .people .people-schedule {
        float:left;
        max-width: 50%;
    }
}