.request-invite .tickets-body,
.request-invite .tickets-header {
    display:flex;
    flex-wrap: wrap;
}
.request-invite .ticket-wrap {
    flex-grow: 1;
    flex-basis: 0;
}
.request-invite .ticket {
    background: #F4F4F4;
    margin:0 2rem 0 0;
    padding:2rem;
}
.request-invite .tickets-header .ticket {
    border-radius: 3rem 0 0 0;
    border-bottom:4px dotted #FFF;
    clip-path: polygon(0% 0%, 100% 0%, calc(100% + 0em) calc(50% - 2em), calc(100% - 0.39em) calc(50% - 1.962em), calc(100% - 0.766em) calc(50% - 1.848em), calc(100% - 1.112em) calc(50% - 1.662em), calc(100% - 1.414em) calc(50% - 1.414em), calc(100% - 1.662em) calc(50% - 1.112em), calc(100% - 1.848em) calc(50% - 0.766em), calc(100% - 1.962em) calc(50% - 0.39em), calc(100% - 2em) calc(50% + 0em), calc(100% - 1.962em) calc(50% + 0.39em), calc(100% - 1.848em) calc(50% + 0.766em), calc(100% - 1.662em) calc(50% + 1.112em), calc(100% - 1.414em) calc(50% + 1.414em), calc(100% - 1.112em) calc(50% + 1.662em), calc(100% - 0.766em) calc(50% + 1.848em), calc(100% - 0.39em) calc(50% + 1.962em), calc(100% + 0em) calc(50% + 2em), 100% 100%, 0% 100%);
}
.request-invite .ticket-type {
    color:#777;
    text-transform: uppercase;
    font-size: 1.2rem;
}
.request-invite .ticket-title {
    font-size: 2.2rem;
    font-weight: bolder;
    padding:.8rem 0;
}
.request-invite .ticket .cta{
    display:block;
}
.request-invite .ticket-price sup {
    font-size: 1.6rem;
}
.request-invite .ticket-price {
    font-size: 4rem;
    padding:.5rem 0;
}
.request-invite .ticket-numbers {
    color:#777;
}
.request-invite .ticket-numbers.prompt {
    color:#666CF7;
}
.request-invite .tickets-body .ticket-content {
    text-align: center;
}

.request-invite .tickets-body:nth-child(odd) .ticket {
    background:#EEE;
}


@media only screen and (max-width: 80rem) {
    .request-invite .ticket-wrap.empty {
        display:none;
    }
    .request-invite .tickets-body {
        display:none;
    }
}