---
title: Schedule
layout: schedule
permalink: /2025/schedule
---
<section>
    <h1>Event Schedule</h1>
    <h2>Event Format</h2>
    <div class="schedule-intro">
        <p>
            Our goal is to make this event as concretely useful to open source founders as possible. The event format: a single track talks followed by workshops,
            both in the morning and afternoon. Join us in the evenings for networking and discussions over a drink.
        </p>
        <p>
            <a href="/request-invite" class="cta">Request an Invite</a> &nbsp;
            <a href="mailto:contact@05F5.com">Contact Us</a>
        </p>
    </div>
</section>
<h2>Event Schedule - The day before</h2>
<div class="day-schedule">
    <h3>Sunday 18<sup>th</sup> of May 2025</h3>
    <div class="session">
        <div class="session-timing">19:00 - 21:00</div>
        <div class="session-description">
            <h4 class="session-title">Welcome drinks</h4>
            <p>Join us for apéro (light snacks, drinks and pizzas).</p>
            <p>Location: Paname Brewing Company, 41 bis Quai de la Loire, 75019 Paris <a href="https://www.panamebrewingcompany.com/quai-de-la-loire/">More Info</a></p>
        </div>
        <div class="avatar"><img src="../assets/img/participants/you.png" alt="You!"></div>
    </div>
</div>
{% include 2025/day1.html %}
{% include 2025/day2.html %}
