{% assign id = include.id %}
{% assign found = 0 %}
{% if id %}
{% for session in site.sessions %}
{% if id == session.session_id %}
<div class="session">
    <div class="session-timing">
        {% include snippets/time.html datetime=session.session_start %} -
        {% include snippets/time.html datetime=session.session_end %}
    </div>
    <div class="session-description">
        <h4 class="session-title">Talk: {{ session.title }}</h4>
        <p>{% for participant in site.participants %}{% for person in session.people %}{% if participant.slug == person %}
            {{ participant.title }} ({{participant.org_name }}){% assign found = {{found | plus:1 }}%}{% endif %}{% endfor %}{% endfor %}</p>
        <p><a href="{{ session.permalink | absolute_url }}">More info</a></p>
    </div>
    {% include snippets/participant-avatar-link.html participant=participant.slug %}
    {% include snippets/session-avatar-inline.html id=id %}
</div>
{% else %}
{% endif %}
{% endfor %}
{% endif %}
