<div>
    <h2>Ticket types</h2>
    <div class="tickets">
        <div class="tickets-header">
            <div class="ticket-wrap empty"></div>
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-type">Ticket type</div>
                <div class="ticket-title">Early Birds</div>
                <div class="ticket-price">
                    <span class="price" >€750</span>
                    <span class="currency"><sup>EUR</sup></span>
                </div>
                <div class="ticket-numbers prompt">18 tickets left!</div>
                <div class="cta-wrapper">
                    <a class="cta " href="https://pretix.eu/05F5/2026/">Get Tickets</a>
                </div>
            </div></div>
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-type">Ticket type</div>
                <div class="ticket-title">Event Admission</div>
                <div class="ticket-price">
                    <span class="price">€970</span>
                    <span class="currency"><sup>EUR</sup></span>
                </div>
                <div class="ticket-numbers">35 tickets left</div>
                <div class="cta-wrapper">
                    <a class="cta disabled" aria-disabled="true" href="#">Coming soon...</a>
                </div>
            </div></div>
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-type">Ticket type</div>
                <div class="ticket-title">Event Sponsor</div>
                <div class="ticket-price">
                    <span class="price">10,000</span>
                    <span class="currency"><sup>EUR</sup></span>
                </div>
                <div class="ticket-numbers">3 slots left</div>
                <div class="cta-wrapper">
                    <a class="cta" href="/sponsor">Sponsor</a>
                </div>
            </div></div>
        </div>
        <div class="tickets-body">
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">Access to the talks</div>
            </div></div>
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">✔</div>
            </div></div>
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">✔</div>
            </div></div>
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">✔</div>
            </div></div>
        </div>
        <div class="tickets-body">
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">Access to the workshops</div>
            </div></div>
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">✔</div>
            </div></div>
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">✔</div>
            </div></div>
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">✔</div>
            </div></div>
        </div>
        <div class="tickets-body">
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">Lunch & coffee breaks</div>
            </div></div>
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">✔</div>
            </div></div>
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">✔</div>
            </div></div>
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">✔</div>
            </div></div>
        </div>
        <div class="tickets-body">
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">Monday Dinner</div>
            </div></div>
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">✔</div>
            </div></div>
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">✔</div>
            </div></div>
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">✔</div>
            </div></div>
        </div>
        <div class="tickets-body">
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">Networking & drinks</div>
            </div></div>
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">✔</div>
            </div></div>
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">✔</div>
            </div></div>
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">✔</div>
            </div></div>
        </div>
        <div class="tickets-body">
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">Your logo on this website</div>
            </div></div>
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">&nbsp;</div>
            </div></div>
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">&nbsp;</div>
            </div></div>
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">✔</div>
            </div></div>
        </div>
        <div class="tickets-body">
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">Your logo in the emails</div>
            </div></div>
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">&nbsp;</div>
            </div></div>
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">&nbsp;</div>
            </div></div>
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">✔</div>
            </div></div>
        </div>
        <div class="tickets-body">
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">Social media shout out</div>
            </div></div>
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">&nbsp;</div>
            </div></div>
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">&nbsp;</div>
            </div></div>
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">✔</div>
            </div></div>
        </div>
    </div>
</div>
