<div>
    <h2>Ticket types</h2>
    <div class="tickets">
        <div class="tickets-header">
            <div class="ticket-wrap empty"></div>
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-type">Ticket type</div>
                <div class="ticket-title" style="text-decoration: line-through;">Early Birds</div>
                <div class="ticket-price">
                    <span class="price" style="text-decoration: line-through;">599</span>
                    <span class="currency"><sup>EUR</sup></span>
                </div>
                <div class="ticket-numbers ">SOLD OUT</div>
                <div class="cta-wrapper">
                    <a class="cta disabled" aria-disabled="true" href="#">SOLD OUT</a>
                </div>
            </div></div>
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-type">Ticket type</div>
                <div class="ticket-title">Procastinators</div>
                <div class="ticket-price">
                    <span class="price">799</span>
                    <span class="currency"><sup>EUR</sup></span>
                </div>
                <div class="ticket-numbers prompt">60 tickets left</div>
                <div class="cta-wrapper">
                    <a class="cta " href="https://app.formbricks.com/s/clr4szdit9hrz8up0g6ed664v">Request Invite</a>
                </div>
            </div></div>
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-type">Ticket type</div>
                <div class="ticket-title">Event Sponsor</div>
                <div class="ticket-price">
                    <span class="price">5,000</span>
                    <span class="currency"><sup>EUR</sup></span>
                </div>
                <div class="ticket-numbers">8 tickets left</div>
                <div class="cta-wrapper">
                    <a class="cta" href="/sponsor">Sponsor</a>
                </div>
            </div></div>
        </div>
        <div class="tickets-body">
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">Access to the talks</div>
            </div></div>
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">✔</div>
            </div></div>
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">✔</div>
            </div></div>
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">✔</div>
            </div></div>
        </div>
        <div class="tickets-body">
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">Access to the workshops</div>
            </div></div>
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">✔</div>
            </div></div>
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">✔</div>
            </div></div>
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">✔</div>
            </div></div>
        </div>
        <div class="tickets-body">
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">Lunch & coffee breaks</div>
            </div></div>
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">✔</div>
            </div></div>
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">✔</div>
            </div></div>
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">✔</div>
            </div></div>
        </div>
        <div class="tickets-body">
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">Networking & drinks</div>
            </div></div>
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">✔</div>
            </div></div>
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">✔</div>
            </div></div>
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">✔</div>
            </div></div>
        </div>
        <div class="tickets-body">
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">Your logo on this website</div>
            </div></div>
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">&nbsp;</div>
            </div></div>
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">&nbsp;</div>
            </div></div>
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">✔</div>
            </div></div>
        </div>
        <div class="tickets-body">
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">Your logo in the emails</div>
            </div></div>
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">&nbsp;</div>
            </div></div>
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">&nbsp;</div>
            </div></div>
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">✔</div>
            </div></div>
        </div>
        <div class="tickets-body">
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">Table/stand at the event</div>
            </div></div>
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">&nbsp;</div>
            </div></div>
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">&nbsp;</div>
            </div></div>
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">✔</div>
            </div></div>
        </div>
        <div class="tickets-body">
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">Social media shout out</div>
            </div></div>
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">&nbsp;</div>
            </div></div>
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">&nbsp;</div>
            </div></div>
            <div class="ticket-wrap"><div class="ticket">
                <div class="ticket-content">✔</div>
            </div></div>
        </div>
    </div>
</div>